.btn.btn-secondary.tools-btn.dropdown-toggle {
    height: 34px;
}

.hljs {
    background: #f5f8fa;
}

select {
    display: inline-block;
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .25rem;
}

input {
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 3px;
}

.font-size-1 {
    font-size: 120%;
}

form#searchform {
    margin-bottom: 0;
}

button#searchGoButton {
    height: 30px;
}

button#searchSearchButton {
    height: 30px;
}

h1#main_title {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: none;
    border-bottom: none;
}

a.navbar-brand {
    width: auto;
    margin-right: 20px;
}

blockquote {
    border-left: 5px solid #4188F1;
}

td {
    padding: 0.3rem 0.6rem;
}

#toc, .opennamu_TOC {
    border: 1px solid var(--border-color);

    border-top-right-radius: 0.35rem;
    border-top-left-radius: 0.35rem;

    border-bottom-right-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;

    padding: 0.6rem 1.2rem;
}

#toc-name, .opennamu_TOC_title {
    font-size: 1.2rem;
    font-weight: bold;

    display: block;

    width: calc(100% + 38px);
    
    margin-left: -19px;
    margin-top: -10px;
    margin-bottom: -40px;

    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background-color: #f5f8fa;
    
    border: 1px solid var(--border-color);
    border-top-right-radius: 0.35rem;
    border-top-left-radius: 0.35rem;
}

div.scroll-buttons a {
    display: inline-block;
    
    width: 45px;
    height: 45px;
    
    padding: 5px 8px 9px 8px;
    
    text-decoration: none;
    text-align: center;
    
    background-color: var(--main-color);
    border-bottom: 0;

    color: white;
}

#scroll-button-toc {
    border-top-left-radius: 0.35rem;
}

#scroll-button-right {
    border-top-right-radius: 0.35rem;
}

#scroll-button-right, #scroll-button-left {
    border-left: 1px solid white;
}

div.scroll-buttons {
    position: fixed;

    float: right;
    
    height: 45px;
    
    text-align: right;
    font-size: 1.7em;
    
    z-index: 10000;
    
    margin-bottom: -10px;
    
    bottom: 10px;
    right: 0px;
}

.scroll-buttons .fa {
    margin-top: 5px;
}

#out_link::before, .opennamu_link_out::before {
    padding: 0px;
    background: transparent;
    color: green;
    content: "\f14c";
    font-family: FontAwesome;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.navbar-brand {
    margin: auto;
    font-size: 28px;
}

button {
    border: 1px solid #aaa;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    background: white;
}

button:hover {
    background-color: white;
}

button#save, button#opennamu_save_button {
    background-color: #0275d8;
    border-color: #0275d8;
    color: white;
    margin-right: 5px;
}

button#save:hover, button#opennamu_save_button:hover {
    background-color: #025aa5;
    border-color:#025aa5;
}

button#preview, button#opennamu_preview_button {
    background-color: #5bc0de;
    border-color: #5bc0de;
    color: white;
}

button#preview:hover, button#opennamu_preview_button:hover {
    background-color: #31b0d5;
    border-color: #31b0d5;
    color: white;
}

button#come {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: white;
    margin-left: 5px;
}

button#come:hover {
    background-color: #ec971f;
    border-color: #ec971f;
    color: white;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: absolute;
}

#cate, .opennamu_category, #redirect {
    border: 1px solid var(--border-color);
    border-radius: 0.35rem;

    padding: 0.4rem;
    padding-left: 1rem;
    
    box-shadow: 0.15rem 0.15rem 0 0 #cfdae2;
    
    display: inline-block;
    
    width: 100%;
}

li.nav-item {
    margin: 0;
}

.Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed {
    position: absolute;
}

ul#live-recent-list li {
    margin: 0;
}

.Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item {
    width: 7.5rem;

    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0;
}

.Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link.active::before, .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link:hover::before, .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link:focus::before, .Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item .nav-link:active::before {
    width: 7.5rem;
}

.Liberty .content-wrapper .liberty-sidebar .liberty-right-fixed .live-recent .live-recent-header .nav .nav-item + .nav-item {
    margin-left: 0;

    border-left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0.35rem;
}

.Liberty .content-wrapper .liberty-content .liberty-content-main {
    overflow: visible;
}

th[rowspan], td[rowspan] {
    position: initial;
}
